<section id="organisaties" class="companies-header">
  <img src="./assets/images/logo.svg" alt="Codidact logo" />

  <span class="menu">
    <a href="#het-verhaal">Het verhaal</a>
    <a href="#dit-is-codidact">Dit is Codidact</a>
    <a href="#wat-kun-je-bereiken">Wat kun je bereiken?</a>
    <a href="#samenwerken">Samenwerken?</a>
    <a href="#contact-organisaties">Contact</a>
  </span>

  <span class="quote">
    <p>Innovation is the ability to see change as an opportunity, not a threat.</p>
    <p>Steve Jobs</p>
  </span>

  <span class="background-icon">
    <i class="fas fa-comment-check"></i>
    <i class="fas fa-hands"></i>
  </span>
</section>
<section class="two-columns companies">
  <div id="het-verhaal">
    <h2>Het verhaal</h2>
    <p>In Codidact wordt nagedacht over en gewerkt aan het tot stand brengen van
      innovaties in bedrijven. Deelnemers verdiepen zich in technologie,
      innoveren en/of ondernemerschap. Ze leren van elkaar en met elkaar en
      iedereen draagt een steentje bij. Iedereen is gelijkwaardig, draagt zelf
      verantwoordelijkheid en voegt iets toe aan het geheel. Voor jouw
      organisatie een ideale omgeving om een plan te maken hoe te reageren op de
      snelle technologische veranderingen en hulp te krijgen bij de realisatie
      ervan.</p>
    <div id="wat-kun-je-bereiken">
      <h2>Wat kun je bereiken?</h2>
      <strong>Wat kan jouw organisatie bereiken?</strong>
      <ul>
        <li>Organisaties, die voorop willen lopen in ontwikkeling doen er goed
          aan inzicht te krijgen in de wenselijke en noodzakelijke (disruptieve)
          veranderingen in de eigen bedrijfsvoering. Codidact kan hierbij
          helpen.</li>
        <li>Codidact is een ontwikkeltraject waarin mensen zich (verder) kunnen
          bekwamen op het gebied van informatietechnologie en/of
          ondernemerschap. Voor organisaties ligt hier een unieke kans om
          <ul>
            <li>eigen medewerkers die al langer werkzaam zijn en de
              technologische ontwikkelingen niet meer gevolgd hebben, actuele
              kennis, vaardigheden en ervaring op te laten doen op het gebied
              van de allernieuwste technologieën, al dan niet in teams, zodat
              zij meer duurzaam inzetbaar zijn,</li>
            <li>sollicitanten die interessant zijn voor een bedrijf, maar nog
              relevante kennis, vaardigheden en/of ervaring missen, in dit
              traject deel te laten nemen,</li>
            <li>medewerkers uit andere disciplines om te scholen tot IT’er,</li>
            <li>invulling te geven aan het eigen beleid rond Leven Lang Leren.</li>
          </ul>
        </li>
      </ul>
      <strong>Wat kunnen jouw medewerkers bereiken?</strong>
      <p>Medewerkers binnen een organisatie hebben een persoonlijk belang om
        zichzelf te verrijken met nieuwe kennis en vaardigheden. Ze vergroten zo
        de kans op blijvend interessant werk. Bovendien blijven ze aantrekkelijk
        voor de markt. De organisatie heeft ook belang bij de ontwikkeling van
        het personeel. Medewerkers zijn meer duurzaam inzetbaar. In de context
        van ’een leven lang leren’ kunnen medewerkers in Codidact een
        waardevolle invulling vinden voor een (persoonlijk) scholingsbudget.</p>
    </div>
  </div>
  <div>
    <div class="partners">
      <h2>Partners</h2>
      <p>
        Akzo Nouryon, Alliander, Archipel, Belastingdienst, GasUnie, Gemeente
        Deventer, Gemeente Lochem, Greenchoice, InterGas, Nefit/Bosch, Provincie
        Overijssel, Rabobank, Saxion, Stera, Surf, Transform, UWV
      </p>
    </div>
    <div class="what" id="dit-is-codidact">
      <h2>Dit is Codidact</h2>
      <ul>
        <li>Codidact is de kern van het innovatiecentrum De Gasfabriek in
          Deventer, het is een persoonlijk ontwikkeltraject waar experimenteren,
          innoveren, samenwerken en creativiteit centraal staan.</li>
        <li>Codidact is een community waarvan de leden met en van elkaar leren.
          In Codidact heeft iedereen de rol van zowel docent als student,
          daarnaast zijn er coaches (waaronder zeer ervaren ondernemers). De
          focus ligt op IT en nieuwe technologie zoals de blockchain, big data
          en machine learning.</li>
        <li>In Codidact kunnen professionals zich ontwikkelen tot specialist in
          een bestaande organisatie en/of tot ondernemer.</li>
        <li>Codidact werkt aan echte innovaties, vaak in opdracht van of in
          samenwerking met organisaties.</li>
        <li>Speciaal voor Codidacters die de ambitie hebben om te gaan
          ondernemen, heeft Codidact een coachingsprogramma voor (aankomende)
          startupteams, de Startup Coach.</li>
      </ul>
    </div>
    <div class="samenwerken" id="samenwerken">
      <h2>Waarom met ons samenwerken?</h2>
      <ul>
        <li>Omdat de snelle technologische ontwikkelingen in de wereld ook jouw
          organisatie dwingen na te denken over digitale oplossingen.</li>
        <li>Omdat Codidact je (innovatie-)vraag kan helpen oplossen.</li>
        <li>Omdat je medewerkers kennis en ervaring wil laten opdoen met
          state-of-the-art technologie.</li>
        <li>Omdat Codidact jouw personeel met ondernemersambitie verder kan
          helpen richting intern ondernemerschap.</li>
      </ul>
    </div>
    <div class="contact" id="contact">
      <h2>Contact</h2>
      <p><i class="fas fa-building"></i>Zutphenseweg 6, Deventer</p>
      <p><i class="fas fa-envelope"></i><a
          href="mailto:info@codidact.nl"
        >info@codidact.nl</a></p>
    </div>
  </div>
</section>
<footer class="companies-footer">
  <p>Copyright &copy; Codidact
    <script>document.write(new Date().getFullYear())</script></p>
  <img src="./assets/images/icon.svg" alt="Codidact icon" />
</footer>