<header>
  <img
    src="./assets/images/logo-with-slogan.svg"
    alt="Codidact logo met slogan"
  />
</header>
<section class="choice-buttons">
  <div>
    <p>Een uitgebreid,<br /> traineeship voor<br /> IT-professionals?</p>
    <a href="#deelnemers" class="button">Tell me more!</a>
  </div>
  <div>
    <p>Flexibele innovatie<br /> voor jouw organisatie?</p>
    <a href="#organisaties" class="button">Klinkt interessant!</a>
  </div>
</section>