.participants-header {
  background: var(--primary-gradient);
  height: 40vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  padding: var(--padding);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  img {
    max-width: 150px;
  }

  .menu a {
    color: white;
    padding: 0 var(--padding);
    font-size: 1.2rem;

    &:not(:first-child) {
      border-left: 1px solid white;
    }
  }

  .quote {
    color: white;
    font-family: "Red Hat Display", sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;

    p:nth-child(2) {
      font-size: 1.5rem;
      float: right;
      margin: 0;
      padding: 0 1rem;
      font-weight: bold;
    }

    @media (min-width: 800px) {
        font-size: 1.3rem;
        max-width: 350px;

        p:nth-child(2) {
            font-size: 1.8rem;
        }
    }
  }

  .background-icon {
    position: absolute;
    right: var(--padding);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 0.34;

    @media (min-width: 700px) {
      right: 5rem;
    }

    .fa-comment-check {
      font-size: 4rem;
      margin-bottom: -3rem;
    }

    .fa-hands {
      font-size: 10rem;
    }
  }
}
