<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codidact</title>
  </head>
  <body>
    <header>
      <img src="./assets/logo-with-slogan.svg" alt="Codidact logo met slogan" />
    </header>
    <section class="choice-buttons">
      <div>
        <p>Een uitgebreid,<br /> traineeship voor<br /> IT-professionals?</p>
        <a href="#deelnemers" class="button">Tell me more!</a>
      </div>
      <div>
        <p>Flexibele innovatie<br /> voor jouw organisatie?</p>
        <a href="#organisaties" class="button">Klinkt interessant!</a>
      </div>
    </section>
    <section id="deelnemers" class="participants-header">
      <img src="./assets/logo.svg" alt="Codidact logo" />

      <span class="menu">
        <a>Ons verhaal</a>
        <a>Wat is Codidact?</a>
        <a>Meedoen?</a>
        <a>Contact</a>
      </span>

      <span class="quote">
          <p>The way to achieve your own success, is to be willing to help somebody else get it first.</p>
          <p>Iyanla Vanzant</p>
      </span>

      <span class="background-icon">
        <i class="fas fa-comment-check"></i>
        <i class="fas fa-hands"></i>
      </span>
    </section>
    <footer>
        <p>Copyright &copy; Codidact <script>document.write(new Date().getFullYear())</script></p>
        <img src="./assets/icon.svg" alt="Codidact icon">
    </footer>
  </body>
</html>