<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codidact</title>
  </head>
  <body>
    <header>
      <img src="./assets/logo-with-slogan.svg" alt="Codidact logo met slogan" />
    </header>
    <section class="choice-buttons">
      <div>
        <p>Een uitgebreid,<br /> traineeship voor<br /> IT-professionals?</p>
        <a href="#deelnemers" class="button">Tell me more!</a>
      </div>
      <div>
        <p>Flexibele innovatie<br /> voor jouw organisatie?</p>
        <a href="#organisaties" class="button">Klinkt interessant!</a>
      </div>
    </section>
    <section id="deelnemers" class="participants-header">
      <img src="./assets/logo.svg" alt="Codidact logo" />

      <span class="menu">
        <a href="#ons-verhaal">Ons verhaal</a>
        <a href="#wat-is-codidact">Wat is Codidact?</a>
        <a href="#meedoen">Meedoen?</a>
        <a href="#contact">Contact</a>
      </span>

      <span class="quote">
        <p>The way to achieve your own success, is to be willing to help
          somebody else get it first.</p>
        <p>Iyanla Vanzant</p>
      </span>

      <span class="background-icon">
        <i class="fas fa-comment-check"></i>
        <i class="fas fa-hands"></i>
      </span>
    </section>
    <section class="two-columns">
      <div id="ons-verhaal">
        <h2>Ons verhaal</h2>
        <p>In Codidact werk je aan skills, talenten en opdrachten die je zelf
          kiest. En als je wilt, werk je ook aan je eigen business. We leren van
          elkaar en met elkaar en iedereen draagt een steentje bij. Deelnemers
          in Codidact zijn niet alleen verantwoordelijk voor hun eigen
          ontwikkeling, maar voegen ook iets toe aan het geheel.</p>
        <h3>Waarom meedoen in Codidact?</h3>
        <ul>
          <li>Omdat je met behulp van jouw technologiekennis als basis, wilt
            werken aan waardevolle toepassingen voor organisaties in overheid,
            onderwijs en bedrijfsleven.</li>
          <li>Omdat je in een omgeving met ervaren, coachende ondernemers je
            volop bezig kunt houden met innovatieve producten voor die
            organisaties.</li>
          <li>En als een eigen startup je droom is, kan die langs deze weg
            waarheid worden.</li>
          <li>Maar ook omdat je juist je ambitie om als IT-professional een baan
            te krijgen, zo kunt verwezenlijken.</li>
        </ul>
        <div class="startupometer">
          <img src="assets/speedometer.svg" alt="Speedometer" />
          <div class="coach">
            <h2>Startup Coach</h2>
            <p>Met begeleiding een potentiële onderneming opbouwen</p>
          </div>
          <div class="accelerator">
            <h2>Startup Accelerator</h2>
            <p>Je eigen bedrijf met klant(en) laten groeien</p>
          </div>
        </div>
        <div class="meedoen" id="meedoen">
          <h2>Meedoen?</h2>
          <p>Dan verwachten wij dat jij:</p>
          <ul>
            <li>(bijna) afgestudeerd bent aan een hogeschool of universiteit,</li>
            <li>affiniteit hebt (informatie)technologie en/of ondernemerschap.</li>
          </ul>
          <strong>Wanneer kun je beginnen?</strong>
          <p>Het hele jaar door, vaste startmomementen kennen we niet.</p>
          <strong>Hoe lang kun je meedoen?</strong>
          <p>Zo lang er sprake is van een wederzijds belang.</p>
        </div>
      </div>
      <div>
        <div class="experiences">
          <h2>Ervaringen</h2>
          <p>Hier komen de filmpjes...</p>
          <div class="placeholder"></div>
        </div>
        <div class="what" id="wat-is-codidact">
          <h2>Wat is Codidact?</h2>
          <ul>
            <li>een persoonlijk ontwikkeltraject dat zich richt op nieuwe
              technologie en ondernemerschap.</li>
            <li>werken aan nieuwe uitdagingen in een netwerk van ondernemers en
              grote klanten. Daarbij staan experimenteren, innoveren en
              samenwerken centraal (vaak in opdracht van bedrijven).</li>
            <li>voor wie dat wil: een unieke kans om een eigen onderneming te
              starten.</li>
            <li>een grote variëteit aan activiteiten zoals bijvoorbeeld kennis
              uitwisselen, elkaars werk reviewen, innovatieve oplossingen
              bedenken, je voorbereiden op ondernemerschap, in contact komen met
              kleine en grote bedrijven. En steeds staan ervaren ondernemers
              klaar om te coachen.</li>
            <li>de ruimte om te verkennen of een zelfstandig ondernemerschap
              iets voor je is.</li>
          </ul>
        </div>
        <div class="contact" id="contact">
          <h2>Contact</h2>
          <p><i class="fas fa-building"></i>Zutphenseweg 6, Deventer</p>
          <p><i class="fas fa-envelope"></i><a href="mailto:info@codidact.nl">info@codidact.nl</a></p>
        </div>
      </div>
    </section>
    <footer>
      <p>Copyright &copy; Codidact
        <script>document.write(new Date().getFullYear())</script></p>
      <img src="./assets/icon.svg" alt="Codidact icon" />
    </footer>
  </body>
</html>