
$fa-font-path: "../assets/webfonts";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Red+Hat+Display:wght@400;700&display=swap");
@import "~normalize.css/normalize.css";
@import "./variables/colours";
@import "./variables/variables";
@import "./buttons";
@import "./lists";
@import "./slider";
@import "./fontawesome/fontawesome";
@import "./fontawesome/solid";

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  display: inline-block;
}

h3 {
  font-weight: lighter;
}

p {
  max-width: 70%;
}

* {
  scroll-behavior: smooth !important;
}

strong {
  display: inline-block;
  margin-top: var(--padding);
}


@import "./pages/landing-page";
@import "./pages/participants";
@import "./pages/companies";